.selected td 
{
background: yellow;
}

#usa_cstms_file_cd_text, #cnd_cstms_file_cd_text
{
	background-color: #f1a9f3 !important;
}

#sc_no, #btn_t1CargoClosingTime, #frm_t10sheet1_rt_aply_dt, #bkg_por_cd, #frm_rep_cmdt_nm, #usa_cstms_file_cd_text, #cnd_cstms_file_cd_text, #humid_no
{
	background: #f1a9f3;
}

input[name=taa_no], input[name=rfa_no]
{
	background: #f1a9f3 !important;
}

select[name=sns_cgo_knd_cd]
{
	background: #f1a9f3 !important;
}

td. GMWrap0 GMAlignCenter GMBool0 GMCell IBSheetFont1 GMEmpty HideCol1C7
{
	background: #f1a9f3 !important;
}

td. GMClassReadOnly GMWrap0 GMAlignRight GMFloat GMCell IBSheetFont0 HideCol0C3
{
	background: #f1a9f3 !important;
}
