#btn_t1retrieve
{
	background-color: #FFA54F;
	outline: 1px solid red !important;
}

input[name="act_wgt"], input[name="mty_pkup_yd_cd"], input[name="full_rtn_yd_cd"], input[name="xter_rmk"]
{
    border: 2px solid red !important;
    border-radius: 6px;   /* adjust roundness */
}