#btn_Email, #btn_BLPreview, #btn_t6gridmultishp, #btn_copy, #btn_t9AllConfirm, #btn_t10doc, #btn_workspace
{
background-color: #f1a9f3;
border-color: #0B44D6;
border:2px solid white;
font-Weight:bold;
color:white;
}
#ssheet1
{
	background-color: #EC7215;
}

/*
#exID01
{
    -webkit-appearance: checkbox;
    -moz-appearance: none;
    height: 18px;
    width: 16px;
    border-style: solid;
    border-color: #c00;
    border-width: 2px;
    outline: 2px solid #F00;
}



#ff_addr_prn_flg
{
 -webkit-appearance: checkbox;
    -moz-appearance: none;
    height: 18px;
    width: 16px;
    border-style: solid;
    border-color: #c00;
    border-width: 2px;
 outline: 2px solid #F00;
}*/


#usa_cstms_file_cd_text, #cnd_cstms_file_cd_text, #btn_t6cntrconfirm
{
  outline: 2px solid #F00;
}

.GMEnumRight
{
  outline: 2px solid #F00 !important;
}

.GMEnumHeaderRight
{
 background-color: #EC7215 !important;
border-color: #0B44D6 !important;
border:2px solid white !important;
font-Weight:bold !important;
color:white !important;
}

.GMWrap0 GMAlignCenter GMEnum GMCell IBSheetFont1 HideCol1C13
{
  background-color: #EC7215 !important;
border-color: #0B44D6 !important;
border:2px solid white !important;
font-Weight:bold !important;
color:white !important;
}


#btn_t1Danger, #btn_t1Reefer, #frm_t11sheet1_obl_iss_rmk
{
 outline: 2px solid #F00;
}


textarea 
{     
 width: 100%; 
}

#ff_cust_nm
{
 width: 100%; 
}

#usa_cstms_file_cd_text, #cnd_cstms_file_cd_text
{
outline: 2px solid #F00 !important;
}


/*
input[name=pck_cmdt_desc] {    
     outline: 2px solid #F00 !important; 
}
input[name=cntr_cmdt_desc] {    
     outline: 2px solid #F00 !important; 
}
*/	



.bgcolor
    {
        background-color:#d4f6ff;
    }

