
input[name=bkg_por_cd], input[name=bkg_por_yd_cd], input[name=s_cust_nm], input[name=s_cust_seq], input[name=s_cust_cnt_cd], input[name=bkg_trunk_vvd], input[name=agmt_act_cnt_cd],
input[name=agmt_act_cust_seq], input[name=sc_no], input[name=rfa_no]
{
	outline: 3px solid red !important;
}

button[name=btn_t1CargoClosingTime], button[name=btn_t1SbRsnDtl]
{
	outline: 3px solid red !important;
	border-radius: 5px;
}

textarea[name=inter_rmk]
{
	outline: 3px solid red !important;
}