#btn_t1Danger, #btn_t1Reefer, #btn_t1ReferenceNo, #btn_t8ExportImportInfo, #btn_t8POOtherNo, #btn_t1retrieve
{
	/*light orange*/
	background-color: #FED8B1;
	outline: 1px solid red !important;
	/*#FFA54F";*/
	
	/*
background-color: #EC7215;
border-color: #0B44D6;
border:2px solid white;
font-Weight:bold;
color:white;*/
}

#usa_cstms_file_cd_text, #cnd_cstms_file_cd_text
{
	background-color: #FED8B1 !important;
	outline: 1px solid red !important;
}

#btn_t1retrieve, #btn_t6cntrconfirm
{
	/*regular orange*/
	background-color: #FFA54F;
	outline: 1px solid red !important;
}


input[name=cmdt_desc], input[name=cmdt_cd], input[name=bkg_ctrl_pty_cust_nm], input[name=bkg_ctrl_pty_cust_seq], input[name=bkg_ctrl_pty_cust_cnt_cd], input[name=bkg_sts_cd], 
input[name=act_wgt], input[name=meas_qty], input[name=cstms_desc],
input[name=cntr_wgt]
{
	background-color: #FED8B1 !important;
	outline: 1px solid red !important;
}

textarea[name=xter_rmk], textarea[name=inter_rmk],
textarea[name=mk_desc],
textarea[name=dg_cmdt_desc]
{
	background-color: #FED8B1 !important;
	outline: 1px solid red !important;
}
